.link-menu
    display: inline-block
    padding: 5px 15px
    white-space: nowrap
    text-decoration: none
    font-size: 14px
    color: #FFF
    &::before,
    &::after
        +pseudoElement(1px, 1px)
        margin: 1px auto
        transition: 0.5s width
    &::before
        transition: 1s width
    &:hover
        &::before,
        &::after
            width: 100%
            background: #FFF
    &.-active
        border-radius: 20px
        border: solid 1px #FFF
