.section-clients
    display: flex
    flex-direction: column
    justify-content: center
    background: #222
    > .title
        +slideDownFrom()
    > .text
        +slideDownFrom(0.5s)
    .clients
        max-width: $max-width
        margin: 0 auto
        +slideDownFrom(1s)
    .item
        display: inline-block
        padding: 30px
        vertical-align: middle
    .clientlink
        opacity: 0.5
        transition: 0.6s opacity
        &::after
            display: none
        &:hover
            opacity: 1

.section-clients.-active,
body.touch .section-clients
    > .title
        +slideDownTo()
    > .text
        +slideDownTo()
    .clients
        +slideDownTo()
