.section-services
    > .title
        +slideDownFrom()
    > .text
        max-width: $max-width
        margin: 0 auto
        padding-bottom: $block-spacing - $text-spacing
        +slideDownFrom(0.5s)
    > .list-services
        +slideDownFrom(1s)
    > .highlight-block
        +slideDownFrom(2s)
    > .technologies
        display: flex
        flex-flow: row wrap
        justify-content: center
        width: 90%
        max-width: $max-width
        margin: 0 auto
        line-height: 150%
        font-size: 50px
        +slideDownFrom(1.5s)
        .icon
            width: 100px
            text-decoration: none
            &::after
                display: none

.section-services.-active,
.touch .section-services
    > .title
        +slideDownTo()
    > .text
        +slideDownTo()
    > .list-services
        +slideDownTo()
    > .technologies
        +slideDownTo()
    > .highlight-block
        +slideDownTo()
