.section-partner
    display: flex
    flex-direction: column
    justify-content: center
    background-image: url($root-images + 'bg-partner.jpg')
    > .title
        +slideDownFrom()
    > .content
        +slideDownFrom(0.5s)
        max-width: $max-width
        margin: 0 auto
    .action
        padding-top: 30px

    &.-active
        > .title
            +slideDownTo()
        > .content
            +slideDownTo()
