{
    "extends": "airbnb-base",
    "plugins": [
        "import"
    ],
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "indent": [
            "error",
            4
        ],
        "comma-dangle": [
            "warn",
            "always-multiline"
        ],
        "no-unused-vars": [
            "warn"
        ],
        "no-plusplus": [
            "warn",
            { "allowForLoopAfterthoughts": true }
        ]
    }
}
