{
    "extends": "airbnb-base",
    "plugins": [
        "import"
    ],
    "rules": {
        "indent": [
            "error",
            4
        ],
        "comma-dangle": [
            "warn",
            "always-multiline"
        ]
    }
}
