body
    background: url($root-images + 'bg.png') no-repeat 50% 50% fixed
    background-size: cover
    font-family: $main-font
    font-weight: 100
    color: #333

a
    color: #333

button
    cursor: pointer

p
    padding-bottom: $text-spacing
    line-height: 150%
